# Database config
POSTGRES_DATABASE_URL=
PG_POOL_SIZE=10

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=hmi
POSTGRES_PASSWORD=hmi1234
POSTGRES_DB=hmi

# API Server config
API_PORT=5050
API_MODE=dev

# S3 / MinIO config
S3_BUCKET_NAME=hmi-media
S3_REGION=us-east-1
S3_ENDPOINT=http://s3:9000
S3_PRESIGN_ENDPOINT=http://127.0.0.1:9000
S3_ACCESS_KEY_ID=admin
S3_SECRET_ACCESS_KEY=admin123
S3_FORCE_PATH_STYLE=true
S3_CREATE_BUCKET_IF_MISSING=true
S3_API_PORT=9000
S3_CONSOLE_PORT=9001

# Google Auth config
GOOGLE_CLIENT_ID=

# SMTP config
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM="HMI Customer Support hmi@gmail.com>"

# SMS config
TEXTBEE_API_KEY=
TEXTBEE_DEVICE_ID=
TEXTBEE_SIM_SUBSCRIPTION_ID=